@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/fira-sans/index.css';

$brand-color-blue: #27aabe;
$brand-color-black: black;
$brand-color-beige: rgb(247, 247, 237);
$brand-color-orange: #fc8c5e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
}

.bg_brandColor {
    background-color: $brand-color-blue;
}

li {
    list-style: none;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.d_flex {
    display: flex;
}

.w_80 {
    width: 80%;
    margin: auto;
}

.btn {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

.btn_1 {
    background-color: $brand-color-black;
}

.btn_2 {
    background-color: $brand-color-blue;
    border: none;
}

.t_center {
    text-align: center;
}

.bg_beige {
    background-color: $brand-color-beige;
}

hr {
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: $brand-color-orange;
    border: none;
    border-radius: 1px;
}

.article {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.black_section {
    background-color: $brand-color-black;
    height: 100px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.beige_section {
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: $brand-color-beige;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_50 {
    margin-top: 50px;
}

.m_20 {
    margin: 20px;
}

.mr_20 {
    margin-right: 20px;
}

.ml_10 {
    margin-left: 10px;
}

.date {
    font-size: 11px;
}

.fs_14 {
    font-size: 14px;
}