@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/500.css';
@import '~@fontsource/montserrat/700.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

$brand-color-blue: #6FC2D2;
$brand-color-black: black;
$brand-color-beige: rgb(247, 247, 237);
$brand-color-orange: #fc8c5e;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

.bg_brandColor {
    background-color: $brand-color-blue;
}

li {
    list-style: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.d_flex {
    display: flex;
}

.w_80 {
    width: 80%;
    margin: auto;
}

.btn {
    padding: 6px 0;
    font-weight: bold;
    color: white;
}

.btn_1 {
    background-color: $brand-color-black;
}

.btn_2 {
    background-color: $brand-color-blue;
}

i {
    cursor: pointer;
}

.t_center {
    text-align: center;
}

.bg_beige {
    background-color: $brand-color-beige;
}

hr {
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: $brand-color-orange;
    border: none;
    border-radius: 1px;
}